<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <header>
        <h1>BokSamling</h1>
        <nav>
            <ul>
                <li><a href="#">Startsidan</a></li>
                <li><a href="#">Böcker</a></li>
                <li><a href="#">Författare</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>

</html>