<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/styles.css">
</head>

<body>
    <header>
        <h1><a asp-controller="Home" asp-action="Index">Boksamling</a></h1>
        <nav>
            <ul>
                <li><a asp-controller="Home" asp-action="Index">Startsidan</a></li>
                <li><a href="#">Böcker</a></li>
                <li><a href="#">Författare</a></li>
            </ul>
        </nav>
    </header>
    <main>
        @RenderBody()
    </main>
</body>

</html>