@{
    ViewData["Title"] = "Startsidan";
}

<div class="container">
    <h2>Välkommen till Boksamlingen!</h2>

    <p>Den här applikationen är utvecklad för att hantera och organisera en boksamling. Med hjälp av Entity Framework
        kan
        man enkelt lägga till, uppdatera, ta bort och söka efter böcker i samlingen.</p>

    <p>Jag som har utvecklat den här applikationen heter Andreas Nygård. Jag läser sista terminen av
        webbutvecklingsprogrammet på
        Mittuniversitetet.
    </p>

    <p>Tack för att du använder Boksamlingen! Om du har några frågor eller feedback, tveka inte att kontakta mig.</p>
    <div class="contact-info">
        <p>Kontaktuppgifter:</p>
        <p>Email: andreas.nygard@example.com</p>
        <p>Telefon: 070-123 45 67</p>
    </div>
</div>
