* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    line-height: 1.6em;
    background-color: #f4f4f4;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    min-height: 100px;
    background-color: #0044cc;
    color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.31);
    border-radius: 3px;
}

header h1 a{
    font-size: 1.1em;
    color: #000;
    text-decoration: none;
}

header nav ul {
    display: flex;
    list-style: none;
    gap: 1.5rem;
}

header ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    transition: color 0.3s;
}

header ul li a:hover {
    color: #964719;
}